
.logo {
	width: 200px;
	margin: 10px auto;
	display: block;
}

.title {
	font-size: 36px;
	color: #333333;
	margin: 10px auto;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


.title::after {
	content: "";
	width: 100%;
	height: 2px;
	background: #ff4400;
	position: absolute;
	left: 0px;
	bottom: 0px;
}